/*Common styling*/


section.places h1 {

    text-align: left;
    font-size: 30px;
}

section.places article {
    float: left; 
    width: 390px;
    height: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid;
    border-radius: 4px;
}
section.places article h2 {
    font-size: 30px;
    text-align: center;
    float: left;
    padding-left: 20%
}

div.price_by_night {

    color:#FF5A5F;
    border: #FF5A5F solid ;
    border-width: 4px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    text-align: center;
    float:right;
    padding-top: 20px;
}

div.information {
    clear:both;
    height: 80px;
    border-top: #DDDDDD solid 1px;
    border-bottom: #DDDDDD solid 1px;
    /*padding-top: 25px;*/
    /*padding-left: 30px;*/
}

div.max_guest, div.number_rooms, div.number_bathrooms  {
    float: left;
    width: 100px;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center; /* Adjust the background position */
    padding-bottom:3px;
    padding-right: 10px;
}
div.max_guest{

    background-image: url("../images/icon_group.png");
}
div.number_rooms {
  
    background-image: url("../images/icon_bed.png");

}
div.number_bathrooms {
  
    background-image: url("../images/icon_bath.png");
}

div.max_guest p, div.number_rooms p, div.number_bathrooms p{

    display: block;
    padding-top: 2px;
    padding-left: 5px;
    text-align: center;

}

div.empty {

    width:100%;
    height: 40px;
}

div.user {
    padding-top: 5%;

}

div.user p{
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}

div.description{

    padding-top: 10px;
}